footer {
    background-color: $color-principal;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    .info_footer {
        width: 80vw;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        padding-top: 35px;
        color: $color-secundario;
        .contactos_footer {
            width: 175px;
            h3, p {
                font-family: $tipografia-principal;
                font-size: 14px;
            }
        }
        .logo_footer {
            display: flex;
            align-items: center;
            img {
                @include medidas (150px, auto);
            }
        }
        .contactos_footer2 {
            width: 195px;
            display: flex;
            flex-flow: column;
            justify-content: flex-start;
            text-align: right;
            h3, p {
                font-family: $tipografia-principal;
                font-size: 14px;
            }
            a {
                text-decoration: none;
                font-family: $tipografia-principal;
                font-size: 14px;
                font-weight: 500;
                color: $color-secundario;
                margin-bottom: 5px;
                &:hover {
                    color: $color-boton;
                }
            }
        }
    }
    hr {
        background-color: $color-secundario;
        width: 80vw;
        height: 2px;
    }
    .derechos {
        font-family: $tipografia-principal;
        font-size: 14px;
        color: $color-secundario;
    }
    a {
        text-decoration: none;
        &:hover {
            color: $color-boton;
        }
    }
}